<div class="row">
  <div class="col">
    <nb-card accent="info">
      <nb-card-header>STUDY.IO</nb-card-header>
      <nb-card-body>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
        vulputate placerat enim, id dictum sem. In eget commodo ipsum.
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col">
    <nb-card accent="info">
      <nb-card-header>STUDY.IO</nb-card-header>
      <nb-card-body>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
        vulputate placerat enim, id dictum sem. In eget commodo ipsum.
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col">
    <nb-card size="tiny" [status]="'success'">
      <nb-card-header
        ><span class="text-black"
          >Algum texto titulo com icone aqui</span
        ></nb-card-header
      >
    </nb-card>
    <nb-card size="tiny" [status]="'danger'">
      <nb-card-header
        ><span class="text-black"
          >Algum texto titulo com icone aqui</span
        ></nb-card-header
      >
    </nb-card>
  </div>
  <div class="col">
    <nb-card size="medium" [status]="'info'">
      <nb-card-header
        ><span class="text-black"
          >Algum texto titulo com icone aqui</span
        ></nb-card-header
      >
    </nb-card>
  </div>
</div>
